{% extends "base.html" %}

{% block content %}
<div class="form-container">
    <div class="form-card">

        <h2 class="card-title">Agregar producto</h2>

        <!-- =================== PASO 1 =================== -->
        {% if paso == 1 %}
        <form method="post" class="form">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.categoria.id_for_label }}" class="no-move">Categoría:</label>
                {{ form.categoria }}
            </div>
            <button type="submit" class="btn-primary">Siguiente</button>
        </form>
        {% endif %}
        
        <!-- =================== PASO 2 =================== -->
        {% if paso == 2 %}
            {% if categoria == "postres" %}
            <form method="post" class="form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="tipo_postre">Tipo de postre</label>
                    <select name="tipo_postre" id="tipo_postre" class="input">
                        <option value="">Seleccione</option>
                        {% for val, text in tipos %}
                            <option value="{{ val }}">{{ text }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn-primary">Siguiente</button>
            </form>
            {% else %}
                <p class="loading">Cargando formulario...</p>
            {% endif %}
        {% endif %}

        <!-- =================== PASO 3 =================== -->
        {% if paso == 3 %}
        <form method="post" class="form">
            {% csrf_token %}

            <div class="grid-2">

                <div class="form-group">
                    {{ form.nombre.label_tag }}
                    {{ form.nombre }}
                </div>

                {% if form.tamaño.field.choices %}
                <div class="form-group">
                    {{ form.tamaño.label_tag }}
                    {{ form.tamaño }}
                </div>
                {% endif %}

                {% if form.sabor.field.choices %}
                <div class="form-group">
                    {{ form.sabor.label_tag }}
                    {{ form.sabor }}
                </div>
                {% endif %}

                <div class="form-group">
                    {{ form.cantidad.label_tag }}
                    {{ form.cantidad }}
                </div>

            </div>

            <button type="submit" class="btn-primary">Agregar producto</button>
        </form>
        {% endif %}
    </div>

</div>
{% endblock %}
