{% extends "base.html" %}

{% block content %}
<div class="table-card">
    <h2>Ingresos 💖</h2>
    <p>Aquí vamos a ver los ingresos bien bonitos jija ✨</p>

    <!-- Botón para ingresar venta -->
    <a href="{% url 'seleccionar_tipo_venta' %}" class="btn">Ingresar Venta</a>

    <!-- Filtros de reporte -->
    <div style="margin-top: 20px;">
        <a href="{% url 'reporte_ventas' 'diaria' %}" class="btn btn-primary">Reporte Diario PDF</a>
        <a href="{% url 'reporte_ventas' 'semanal' %}" class="btn btn-primary">Reporte Semanal PDF</a>
        <a href="{% url 'reporte_deudores' %}" class="btn btn-warning">Reporte de Deudores</a>

    </div>

{% endblock %}
